<section id="welcome">
  <header id="header">
    <span class="glyphicon glyphicon-map-marker"></span>
    <span>北京</span>
    <span>龙湖社区</span>
  </header>
  <div id="content">
    <div class="container-fluid">

      <div class="row ">
        <div class="col-xs-4 col-sm-4">
          <div class="box">
            <a class="cell" href="">
              <span class="glyphicon glyphicon-fire"></span>
              <span class="category">美居方案</span>
            </a>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4">
          <div class="box">
            <a class="cell" href="">
              <span class="glyphicon glyphicon-fire"></span>
              <span class="category">美居方案</span>
            </a>
          </div>
        </div>
        
        <div class="col-xs-4 col-sm-4">
          <div class="box">
            <a class="cell" href="">
              <span class="glyphicon glyphicon-fire"></span>
              <span class="category">装修手册</span>
            </a>
          </div>
        </div>
      </div>

      <div class="row ">
        <div class="col-xs-4 col-sm-4">
          <div class="box">
            <a class="cell" href="">
              <span class="glyphicon glyphicon-fire"></span>
              <span class="category">美食</span>
            </a>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4">
          <div class="box">
            <a class="cell" href="#/register/step1">
              <span class="glyphicon glyphicon-fire"></span>
              <span class="category">注册</span>
            </a>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4">
          <div class="box">
            <a class="cell" href="">
              <span class="glyphicon glyphicon-fire"></span>
              <span class="category">休闲娱乐</span>
            </a>
          </div>
        </div>
      </div>

      <div class="row ">
        <div class="col-xs-4 col-sm-4">
          <div class="box">
            <a class="cell" href="">
              <span class="glyphicon glyphicon-fire"></span>
              <span class="category">生活服务</span>
            </a>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4">
          <div class="box">
            <a class="cell" href="">
              <span class="glyphicon glyphicon-fire"></span>
              <span class="category">违章查询</span>
            </a>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4">
          <div class="box">
            <a class="cell" href="">
              <span class="glyphicon glyphicon-fire"></span>
              <span class="category">自然地物</span>
            </a>
          </div> 
        </div>
      </div>
    </div>
  <div>
</section>