<div class="have-house" ng-if="houses.length > 0">
  <ul class="list-unstyled houses">
    <li ng-repeat="item in houses">
      <a href="">
        <span class="status text-muted">{{ item.status|houseStatus }}</span>
        <span class="address">{{ item.address }}</span>
      </a>
    </li>
  </ul>
  <div class="correction">
    <p class="small">房间信息不对？</p>
    <p class="small">请联系客服确认：<a href="tel:01060898888">010-60898888</a></p>
  </div>
</div>
<div class="havent-house" ng-if="houses.length === 0">
  <div class="correction">
    <p class="small">啊哦，系统未搜索到与您相关的房间信息~ <br />其实您有相关的房间？</p>
    <p class="small">请联系客服确认：<a href="tel:01060898888">010-60898888</a></p>
  </div>
</div>