<div class="have-house">
  <dl class="terms">
    <dt class="small text-muted">北京时代天街10栋1单元1601室 装修单</dt>
    <dd>
      <a class="desc">
        <span class="status pull-right">已办理</span>
        <span class="apartment text-default">在线提交装修许可申请</span>
      </a>
      <decorate-progress begin="S10" end="S40" items="progress"></decorate-progress>
    </dd>
  </dl>
  <dl class="terms">
    <dd>
      <a class="desc">
        <span class="status pull-right">已办理</span>
        <span class="apartment text-default">现场办理装修许可</span>
      </a>
      <decorate-progress begin="S50" end="S50" items="progress"></decorate-progress>
    </dd>
  </dl>
  <dl class="terms">
    <dd>
      <a class="desc">
        <span class="status pull-right">已办理</span>
        <span class="apartment text-default">在线申请验收&amp;押金退款</span>
      </a>
      <decorate-progress begin="S60" end="S90" items="progress"></decorate-progress>
    </dd>
  </dl>
</div>