<div class="have-house">
  <dl class="terms">
    <dt class="small text-muted">北京时代天街10栋1单元1601室 装修单</dt>
    <dd>
      <div class="desc">
        <span class="status pull-right text-muted">已办理</span>
        <span class="apartment text-default">在线提交装修许可申请</span>
      </div>
      <ul class="list-unstyled text-muted small">
        <li class="clearfix">
          <span class="pull-left">2014-06-30 03:15</span>
          <span class="pull-right">待装修公司握手</span>
        </li>
        <li class="clearfix">
          <span class="pull-left">2014-06-30 03:15</span>
          <span class="pull-right">待提交图纸</span>
        </li>
        <li class="clearfix">
          <span class="pull-left">2014-06-30 03:15</span>
          <span class="pull-right">图纸审核中</span>
        </li>
        <li class="clearfix">
          <span class="pull-left">2014-06-30 03:15</span>
          <span class="pull-right">审核通过代办许可</span>
        </li>
      </ul>
    </dd>
  </dl>
  <dl class="terms">
    <dd>
      <div class="desc">
        <span class="status pull-right text-muted">已办理</span>
        <span class="apartment">现场办理装修许可</span>
      </div>
    </dd>
  </dl>
  <dl class="terms">
    <dd>
      <div class="desc">
        <span class="status pull-right text-muted">已办理</span>
        <span class="apartment">在线申请验收&amp;押金退款</span>
      </div>
    </dd>
  </dl>
</div>